/**************************************************************

                        footer

**************************************************************/
@use "../foundation/variable";
@use "../foundation/mixin";


.l-footer {
  width: 100%;
  padding: 2% 0 4% 0;
  background: #25acb8;
  position: relative;
  overflow: hidden;

  @include mixin.pc {
    padding: 56px 0 24px 0;
  }

  &__inner {
    width: 80%;
    max-width: 880px;
    margin: 0 auto;

    @include mixin.pc {
      margin: 0 auto 44px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  }
}

/*フッターのロゴ*/
.l-footer-logo {
  @include mixin.pc {
    width: 25em;
    margin-right: 50px;
    flex-shrink: 0;
  }

  &__ttl {
    width: 64%;
    margin: 0 auto 8%;
  
    @include mixin.pc {
      width: 218px;
      margin: 0 0 24px 0;
    }
  }

  &__link {
    display: block;
  }

  &__txt {
    max-width: 30em;
    margin: 0 auto 14%;
    color: #ffffff;
    font-size: clamp(15px, 3vw, 17px);
    line-height: 1.6;
    text-align: center;
  
    @include mixin.pc {
      text-align: left;
    }
  }
}

/*リンク部分SP用*/
.l-footer-links--sp {
  margin-bottom: 15%;

  @include mixin.pc {
    display: none;
  }

  > a {
    margin-bottom: 9%;
    padding: 4% 0;
    color: variable.$text-common-color;
    font-size: clamp(16px, 4vw, 17px);
    text-align: center;
    display: block;
    border-bottom: 1px solid #3bd2e2;

    &:first-child {
      position: relative;
    }

    &:first-child::before {
      content: "";
      width: 7px;
      height: 7px;
      margin-top: -1.5%;
      border-right: solid 2px #ffffff;
      border-bottom: solid 2px #ffffff;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      transition: 0.5s;
      pointer-events: none;
    }
  }

}

/*アコーディオンが開いている時の矢印の向きを変更*/
.l-footer-links--sp.is-open > a:first-child::before {
  top: 65%;
  transform: translateY(-50%) rotate(-135deg);
  transition: 0.5s;
}
/*********************************************/

.l-footer-links-accord--sp {
  height: 0;
  overflow: hidden;
  transition: 0.5s;

  &.is-open {
    padding-bottom: 60%;
  }

  > a {
    width: fit-content;
    margin: 0 auto 10%;
    color: #ffffff;
    font-size: clamp(14px, 3vw, 15px);
    display: block;
  }
}

/*リンク部分PC用*/
.l-footer-links--pc {
  display: none;

  @include mixin.pc {
    display: flex;
  }
}

.l-footer-links__links--pc {
  @include mixin.pc {
    width: 336px;
    flex-shrink: 0;
    position: relative;
  }
}


.l-footer-links__ttl--pc {
  @include mixin.pc {
    margin-bottom: 18px;
    color: variable.$text-common-color;
    font-size: 18px;
  }
}

.l-footer-links--pc a {

  @include mixin.pc {
    width: fit-content;
    margin: 0 0 20px 1em;
    color: #ffffff;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    padding-bottom: 1px;

    &:hover {
      border-bottom: 1px solid #ffffff;
      margin-bottom: 19px;
    }

    &:last-child:hover {
      border-bottom: 1px solid #ffffff;
      margin-bottom: 19px;
    }
  }
}

.l-footer-links__search--pc {

  @include mixin.pc {
    width: 144px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -30px;

    button {
      width: 18px;
      position: absolute;
      right: 4px;
      top: 4px;
    }

    button img {
      width: 100%;
    }

    input {
      width: 100%;
      padding: 3% 14% 2% 1%;
      color: #ffffff;
      font-size: 17px;
      background: #25acb8;
      display: block;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #ffffff;
      appearance: none;

      &::placeholder {
        color: #67ccd4;
        font-size: 16px;
      }

      /*inputのautocomplete時のスタイル*/
      &:-webkit-autofill {
        -webkit-text-fill-color: #ffffff;
        -webkit-box-shadow: 0 0 0px 999px #25acb8 inset;
      }
    }
  }
}

/*PCのフッターの検索フォームの吹き出し*/
.l-footer-search-txtbox--pc {
  opacity: 0;
  pointer-events: none; /*display:noneの代わりに、この二つで消す*/

  @include mixin.pc {
    width: 220px;
    padding: 19px;
    color: #ffffff;
    background: #0c848f;
    border-radius: 4px;
    opacity: 0;
    position: absolute;
    z-index: 4;
    bottom: 60px;
    left: 766px;
    pointer-events: none;
    transition: 0.3s;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);

    &.is-show {
      opacity: 1;
      pointer-events: auto;
    }

    &:after {
      content: "";
      height: 0;
      width: 0;
      border: solid transparent;
      border-color: rgba(12, 132, 143, 0);
      border-top-width: 13px;
      border-bottom-width: 13px;
      border-left-width: 9px;
      border-right-width: 9px;
      border-top-color: #0c848f;
      pointer-events: none;
      position: absolute;
      bottom: -26px;
      left: 29px;
    }

    h4 {
      width: fit-content;
      margin-bottom: 6px;
      line-height: 1.2;
    }

    span {
      width: fit-content;
      padding-left: 1em;
      font-size: 15px;
      line-height: 1.2;
      text-indent: -1em;

      &:not(:last-child) {
        margin-bottom: 6px;
        display: block;
      }

      &:last-child {
        display: inline-block;
      }
    }
  }
}

.l-footer_copyright {
  width: fit-content;
  margin: 0 auto;
  color: #ffffff;
  font-size: clamp(13px, 6vw, 14px);
  display: block;
}
