/**************************************************************

                        main

**************************************************************/
@use "../foundation/variable";
@use "../foundation/mixin";


/*キービジュアル*/
.p-kv {
  position: relative;
  background: #56a7cf;
  overflow: hidden;

  &__bg {
    width: 1430px;
    height: 100%;
    background: radial-gradient(circle, rgb(118, 194, 231) 0%, rgb(86, 167, 207) 100%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__inner {
    padding: 6.5vw 0 8.5% 0;
    position: relative;
    z-index: 2;
  
    @include mixin.pc {
      width: 1186px;
      margin: 0 auto;
      padding: 40px 0 0 0;
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
    }
  }

  &__inner-img {
    width: 80%;
    max-width: 476px;
    margin: 0 auto;
    display: block;
  
    @include mixin.pc {
      margin: 0;
    }
  }
}

.p-creator {
  width: 90%;
  max-width: 554px;
  margin: 0 auto;
  padding: 5.5%;
  background: #56abd4;

  @include mixin.pc {
    width: 32em;
    margin: 0 50px 40px 0;
    padding: 0 0 0 34px;
    background: none;
  }

  &__ttl {
    margin-bottom: 8%;

    span {
      color: variable.$text-common-color;

      &:first-child {
        margin-bottom: 3%;
        font-size: clamp(25px, 4.5vw, 36px);
        display: block;
      }

      &:nth-child(2) {
        font-size: clamp(13px, 2vw, 16px);
        display: block;
      }
    }
  }

  &__txt {
    color: #ffffff;
    font-size: clamp(15px, 3vw, 19px);
    line-height: 1.6;
  }
}

/*メイン部*/
.l-main {
  padding: 12% 0 0 0;
  background: #f1f1f1;
  overflow: hidden;

  @include mixin.pc {
    padding: 100px 0 0 0;
  }
}

.p-product-area {
  padding-top: 2%;

  @include mixin.pc {
    width: 1240px;
    margin: 0 auto;
    padding-top: 16px;
  }

  &__inner {
    width: 86%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    @include mixin.pc {
      width: 100%;
      max-width: none;
    }

    /*制作物一覧の最後の行を左寄せに*/
    &:after {
      @include mixin.pc {
        content: "";
        width: 215px;
        height: 0;
        display: block;
      }
    }

    &::before {
      @include mixin.pc {
        content: "";
        width: 215px;
        height: 0;
        display: block;
        order: 1;
      }
    }
  }

}

/*作品の縦のマージン*/
.p-product.large, .p-product.mid {
  margin-bottom: 12%;

  @include mixin.pc {
    margin-bottom: 80px;
  }
}

/*大サイズ*/
.p-product.large {
  width: 100%;

  @include mixin.pc {
    width: 580px;
  }
}

.p-product {

  &__thumb {
    width: 100%;
    margin-bottom: 16px;
    display: block;
  }

  &__thumb-img--b, &__thumb-img--m {

    @include mixin.pc {
      transition: 0.3s;
    }
  }

  &__thumb-img--b:hover, &__thumb-img--m:hover {

    @include mixin.pc {
      filter: brightness(0.7);
    }
  }

  &__thumb-img--b img {
    width: 100%;
    height: 111vw;
    margin-bottom: 3%;
    display: block;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.12);
    object-fit: cover;
    object-position: 0 0;
  
    @include mixin.tab {
      height: auto;
    }
  
    @include mixin.pc {
      height: 446px;
    }
  }

  &__thumb-img--m img {
    width: 100%;
    margin-bottom: 3%;
    display: block;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.12);
  
  }

  &__thumb-ttl h3 {
    width: 100%;
    height: fit-content;
    line-height: 1.2;
    font-weight: bold;
  }

}

/*中サイズ*/
.p-product.mid {
  width: 47%;

  @include mixin.pc {
    width: 22%;
  }
}

/*作品タイトル*/
.p-product {

  &__thumb {
    width: 100%;
    margin-bottom: 16px;
    display: block;
  }

  &__thumb-ttl {
    width: 100%;
    position: relative;
  }

  &__thumb-subttl {
    width: 100%;
    height: fit-content;
    color: variable.$text-subttl-color;
    font-size: clamp(12px, 3vw, 14px);
    line-height: 1.2;
    font-weight: bold;  margin-bottom: 2%;
  }

  &__thumb-mainttl {
    width: 100%;
    height: fit-content;
    font-size: clamp(15px, 6vw, 24px);
    line-height: 1.2;
    font-weight: bold;
  }
}

/*スキルタグ*/
.p-product-tag-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.p-product.large .p-product-tag, .p-product.mid .p-product-tag {
  width: 32%;
  max-width: 130px;
  margin: 0 1% 3% 1%;
  margin-bottom: 3%;
  padding: 6px 0;
  color: #ffffff;
  font-size: clamp(15px, 3vw, 16px);
  font-weight: bold;
  text-align: center;

  @include mixin.pc {
    width: 110px;
    max-width: none;
  }
}

.p-product.mid .p-product-tag {
  width: 48%;
  max-width: 130px;
  margin: 0 1% 3% 1%;
  padding: 6px 0;
  color: #ffffff;
  font-size: clamp(11px, 3vw, 16px);
  font-weight: bold;
  text-align: center;
}

.p-product-tag a {
  color: #ffffff;
  pointer-events: none;
}